<%= form_with model: @lead, url: leads_create_path do |form| %>

  <%= form.text_field :name, placeholder: 'Nome' %>
    <% @lead.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>

  <%= form.text_field :email, placeholder: 'Email' %>
    <% @lead.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>

  <%= form.text_field :email, placeholder: 'Email' %>
    <% @lead.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>

  <%= form.hidden_field :tags, value: 'proxima_turma_vida_do_livro' %>

  <%= form.submit 'ASSISTIR AGORA', class:'workshop-form-submit' %>

<% end %>
