<%# <%= form_with model: :contact, url: pages_submit_path, method: :post do |form| %>
  <%# <%= form.text_field :name, placeholder: 'Name' %>
  <%# <%= form.email_field :email, placeholder: 'Email' %>
  <%# <%= form.submit 'Submit' %>
<%# <% end %>

<%= form_with(model: @lead, url: leads_path, local: true) do |form| %>

  <%= form.text_field :name, placeholder: 'Nome' %>
  <% @lead.errors.full_messages_for(:name).each do |message| %>
    <div class="form-error-messages"><%= message %></div>
  <% end %>

  <%= form.text_field :email, placeholder: 'Email' %>
  <% @lead.errors.full_messages_for(:email).each do |message| %>
    <div class="form-error-messages"><%= message %></div>
  <% end %>
  <%= form.submit 'ASSISTIR AGORA' %>

<% end %>
