<div class="main-page">

  <section class="main-top">
    <%= image_tag 'vdl_main_logo.png', class:'main-top-logo'%>

    <div>
      <a href="https://www.instagram.com/vidadolivro/"><i class="fab fa-instagram"></i></a>
      <a href="https://api.whatsapp.com/send?phone=+5551995127228&text=Oi!%20Quero%20saber%20mais%20sobre%20a%20Vida%20do%20Livro"><i class="fab fa-whatsapp"></i></a>
      <a href="https://t.me/vidadolivro"><i class="fab fa-telegram-plane"></i></a>
    </div>
  </section>

  <section class="main-banner">
    <div class="main-banner-title">
      <%= image_tag 'main-banner.jpg' %>
    </div>
  </section>

  <section class="main-areas">
    <div class="main-areas-title">
      <%= image_tag 'main-areas.png' %>
    </div>

    <div class="main-areas-content">
      <%= image_tag 'areas-stickers-1.png', class:'main-areas-sticker-regular' %>
      <%= image_tag 'areas-sticker-responsivo-2.png', class:'main-areas-sticker-responsivo' %>
        <div>
          <p class="main-areas-highlight">Vida do Livro é o curso online perfeito para você que quer conhecer os segredos por trás do mercado editorial. O curso vai ensinar e detalhar todas as etapas da produção de um livro e debater o universo que o orbita, da concepção à comercialização, e horizontes para o futuro.</p>
          <p>Criado originalmente em 2015, Vida do Livro já teve mais de dez turmas, em São Paulo e no Rio de Janeiro, e formou mais de 1.000 alunos, sempre com o intuito de desmistificar os bastidores da indústria livreira e impulsionar uma forma atenciosa, com foco no leitor, de pensar o processo da produção editorial, divulgação e comercialização.</p>
          <p>O conteúdo é voltado para aqueles que já atuam no mercado, para os que querem se inserir nesse meio e, ainda, para autores que desejam entender melhor as engrenagens editoriais, se autopublicar ou submeter seus livros a editores e agentes. Além disso, o curso também é útil para profissionais que queiram construir suas editoras, projetos relacionados, criar conteúdo sobre livros ou apenas leitores apaixonados pelo universo literário.</p>
          <p>Com uma abordagem direta e transparente, o intuito é preparar você para entender a realidade desse mercado, com seus pontos positivos e negativos. Além disso, conectar todas as áreas de atuação para que, ao ver o cenário como um todo, as partes ganhem novos sentidos e possibilidades.</p>
          <p>Serão <strong>4 aulas online</strong> e ao vivo – através do aplicativo Zoom –, com a duração de 2h30 cada, e mais <strong>24 palestras inéditas gravadas com profissionais experientes</strong>, cobrindo com diferentes vozes e opiniões um panorama do mundo dos livros. Ao todo, você terá acesso a <strong>28 aulas</strong> com certificado de participação.</p>
        </div>
      <%= image_tag 'areas-stickers-2.png', class:'main-areas-sticker-regular' %>
      <%= image_tag 'areas-sticker-responsivo-1.png', class:'main-areas-sticker-responsivo' %>
    </div>
  </section>

  <section class="main-proxima-turma">
    <div class="main-proxima-turma-title">
      <%= image_tag 'proxima-turma.png', class:"main-proxima-turma-title-regular"%>
      <%= image_tag 'proxima-turma-responsivo.png', class:"main-proxima-turma-title-responsivo"%>
    </div>
    <div>
      <p>Caso tenha interesse em ser informado sobre a próxima turma do Vida do Livro e futuros cursos abordando mercado editorial, escrita e arte, deixe seu contato para te avisarmos!</p>
    </div>

    <div id="form">
      <%= form_with model: @lead, url: "/waiting_list", method: :post  do |form| %>

        <%= form.text_field :name, placeholder: 'Nome' %>
        <%= form.text_field :email, placeholder: 'Email' %>
        <%= form.telephone_field :cellphone_number, placeholder: 'Telefone' %>
        <%= form.hidden_field :tags, value: 'vdl_proximoscursos_jul23' %>

        <%= form.submit 'ENVIAR', class:'workshop-form-submit' %>

      <% end %>
    </div>
  </section>

  <section class="main-encontros">
    <div class="main-encontros-title">
      <%= image_tag 'main-encontros-title.png', class:'main-encontros-title-padrao' %>
      <%= image_tag 'encontros-title-alternativo.png', class:'main-encontros-daniel'%>
    </div>


    <div class='encontro'>
      <div>

        <div class="encontro-head left">
          <div class="encontro-data">
            <span>08 / 09</span>
            <span>19H30 - 22H</span>
          </div>
          <h2>Primeiro encontro</h2>
          <%= image_tag 'encontro-1.png', class:'encontro-sticker' %>
        </div>

        <h3>DA IDEIA | O que te instiga a fazer um livro?</h3>
        <p>No primeiro encontro, pensaremos onde os livros moram e tentaremos entender que eles normalmente fazem parte de um projeto maior, seja do autor, da editora ou de uma empresa. Qual é a lógica dos negócios editoriais e quais são os processos para iniciá-los e compreendê-los? Seguiremos também os passos detalhados e práticos de um editor de aquisição para entender, a partir do contexto do mercado, como os projetos dão seus primeiros passos: o contato de editores com agentes, autores, empresas e scouts.</p>
      </div>
      <div>
        <%= image_tag 'main-encontros-daniel.png', class:'main-encontros-daniel-2' %>
      </div>
    </div>

    <div class='encontro'>
      <div>
        <%= image_tag 'main-encontros-stickers-1.png' %>
      </div>

      <div>
        <div class="encontro-head right">
          <div class="encontro-data">
            <span>15 / 09</span>
            <span>19H30 - 22H</span>
          </div>
          <h2>Segundo encontro</h2>
          <%= image_tag 'encontro-2.png', class:'encontro-sticker' %>
        </div>

        <h3>COMO FAZER | A história vende por si só?</h3>
        <p>Cada escolha de publicar um título é potencializada e ganha novas camadas de interpretação por uma série de escolhas do editor: formato do livro, tradução, projeto gráfico, capa e aparatos. Inclusive, uma vez dominados, esses processos passam a influenciar na decisão do que se publica. Tomá-la de forma consciente é essencial e pode fazer a diferença entre um projeto de sucesso e outro que ficará esquecido. Cada uma dessas etapas será esmiuçada com exemplos reais, contato com profissionais das áreas e valores.</p>
      </div>
    </div>

    <div class='encontro'>
      <div>
        <div class="encontro-head left">
          <div class="encontro-data">
            <span>22 / 09</span>
            <span>19H30 - 22H</span>
          </div>
          <h2>Terceiro encontro</h2>
          <%= image_tag 'encontro-3.png', class:'encontro-sticker' %>
        </div>

        <h3>SOBRE CONVERSAR E VENDER | Como levar o livro ao leitor?</h3>
        <p>Já dizia o poeta: um livro na gaveta não adianta nada, lugar de poesia é na calçada. Então, como podemos fazer com que os livros que editamos, escrevemos e nos quais acreditamos cheguem de fato aos leitores e às ruas? Nessa aula, falaremos sobre como o marketing, a comunicação e a distribuição comercial passaram por mudanças drásticas na última década e o que é possível fazer hoje. Do contato com livrarias às redes sociais, o mapeamento sobre como essa conversa se estabelece com o seu público é também parte vital de se tomar boas escolhas no processo editorial e de aquisição.</p>
      </div>
      <div>
        <%= image_tag 'main-encontros-stickers-2.png' %>
      </div>
    </div>

    <div class='encontro'>
      <div>
        <%= image_tag 'main-encontros-stickers-3.png' %>
      </div>

      <div>
        <div class="encontro-head right">
          <div class="encontro-data">
            <span>29 / 09</span>
            <span>19H30 - 22H</span>
          </div>
          <h2>Quarto encontro</h2>
          <%= image_tag 'encontro-4.png', class:'encontro-sticker last' %>
        </div>

        <h3>O QUE VEM DEPOIS? | Os próximos passos do mercado</h3>
        <p>Após quase uma década de queda em vendas, tivemos um momento diferente durante a pandemia, mas já há dúvidas se voltamos a uma tendência negativa. Nos últimos anos, grandes redes fecharam, pequenas livrarias abriram, os audiobooks chegaram com força e o e-commerce ganhou uma relevância sem precedentes. Com as mudanças pós-digitais, e cientes do processo como um todo e de suas dificuldades, entramos aqui em um debate sobre quais seriam possíveis soluções e caminhos para nosso mercado extrapolar o que vem sendo feito em forma, produto, marketing, comunicação e comercial.</p>
      </div>
    </div>

  </section>


  <section class="main-convidados">
    <div class="main-convidados-title">
      <%= image_tag 'main-convidados-title.png', class:'main-convidados-title' %>
    </div>
    <div class="main-convidados-title-responsivo">
      <%= image_tag 'main-convidados-title-responsivo.png' %>
    </div>

    <div class="convidados">

      <div class="convidado">
        <div class="convidado-avatar">
          <%= image_tag 'aline-bei.png' %>
        </div>
        <h2>Aline Bei</h2>
        <h3>Escritora</h3>
        <p>A autora de <em>O peso do pássaro morto</em> (vencedor do Prêmio São Paulo de Literatura em 2018) e de <em>Pequena coreografia do adeus</em> ganhou também destaque pelo posicionamento na divulgação de seu romance de estreia, tornando-se exemplo para o mercado.</p>
        <p>Dos primeiros leitores, advindos de círculos de amigos e da faculdade, à distinção com prêmios literários e à publicação pelo maior grupo editorial do mundo, a escritora conta sua trajetória, divide experiências com a escrita e fala sobre como encontrar caminhos para a publicação.</p>
      </div>

    <div class="convidado">
        <div class="convidado-avatar">
          <%= image_tag 'stefano-volp.png' %>
        </div>
        <h2>Stefano Volp</h2>
        <h3>Escritor</h3>
        <p>Escritor fenômeno de 2022, Stefano Volp, autor de <em>O beijo do rio </em> e<em> Homens pretos (não) choram</em>, divide dicas para autores estreantes, aborda como se preparar para um mercado literário competitivo e fala sobre seu recente lançamento pela TAG, com tiragem superior a 25 mil exemplares.</p>
        <p>Entre os temas discutidos estão o estudo de roteiro, a autopublicação, os diferenciais de construir sua própria comunidade de leitores e a resiliência e profissionalismo de que um autor necessita para atuar no mercado literário.</p>
      </div>

      <div class="convidado">
        <div class="convidado-avatar">
          <%= image_tag 'raquel-cozer.png' %>
        </div>
        <h2>Raquel Cozer</h2>
        <h3>Dir. Ed. HarpperCollins Brasil</h3>
        <p>Raquel foi responsável pela aquisição de sucessos comerciais recentes, como os livros de Rupi Kaur e<em> O caso Evandro</em>, e de obras tão variadas quanto as de Nelson Rodrigues, Ale Santos, Cecelia Ahern e Joyce Carol Oates.</p>
        <p>Após mais de uma década como repórter de veículos como <em>Estadão</em> e <em>Folha de S. Paulo</em>, além de passagens pela Planeta e pela Intrínseca, a editora conta como começou na área, fala sobre os critérios para contratação de livros e divide quais características são de maior valor para quem deseja construir uma carreira no mercado editorial.</p>
      </div>

      <div class="convidado">
        <div class="convidado-avatar">
          <%= image_tag 'vagner-amaro.png' %>
        </div>
        <h2>Vagner Amaro</h2>
        <h3>Fundador da Malê</h3>
        <p>Fundador, sócio e editor da Malê, desde 2016 Vagner está à frente de uma das mais proeminentes casas focadas em literatura de autoria negra no Brasil, quando começou a editora com a publicação de Conceição Evaristo. </p>
        <p>Anos depois, com as listas tomadas de livros sobre temática racial e grandes editoras se movimentando para entender esse mercado, ouvimos um de seus mais importantes editores dividindo sua experiência. Vagner fala como foi empreender do zero e vislumbrar um recorte temático em que enxergou não somente um ideal, mas também uma oportunidade.</p>
      </div>

      <div class="convidado">
        <div class="convidado-avatar">
          <%= image_tag 'gustavo-faraon.png' %>
        </div>
        <h2>Gustavo Faraon</h2>
        <h3>Fundador da Dublinense</h3>
        <p>A partir da história da Dublinense, uma das principais editoras de ficção contemporânea no mercado brasileiro, o editor aborda as principais questões sobre gerir uma casa independente: momento de abertura, construção de catálogo, criação de marca, planejamento financeiro, rede de contatos e muito mais.</p>
        <p>Com mais de dez anos de estrada, a Dublinense passou de um pequeno selo para referência em design editorial e solidificação de catálogo, contando com grandes títulos da literatura contemporânea internacional no acervo, a exemplo das obras de Buchi Emecheta e Afonso Cruz.</p>
      </div>

      <div class="convidado">
        <div class="convidado-avatar">
          <%= image_tag 'lucia-riff.png' %>
        </div>
        <h2>Lucia Riff</h2>
        <h3>Fundadora da Agência Riff</h3>
        <p>Principal agente literária do país, Lucia é fundadora da Agência Riff. A casa representa alguns dos mais consagrados nomes da literatura brasileira, como João Cabral de Melo Neto, Lygia Fagundes Telles e Rubem Fonseca, e autores da nova geração da escrita nacional, sendo grande ponto de convergência para licenciamentos de contratos com agências de todo o mundo.</p>
        <p>Além de explicar como funcionam as negociações com editoras brasileiras e internacionais, Lucia exemplifica como um autor pode chamar a atenção de um agente, explora quais caminhos um profissional pode trilhar no mundo editorial e compartilha sua visão sobre o mercado do livro.</p>
      </div>

      <div class="convidado">
        <div class="convidado-avatar">
          <%= image_tag 'daniel-lopes.png' %>
        </div>
        <h2>Daniel Lopes</h2>
        <h3>Editor da Pipoca & Nanquim</h3>
        <p>Um dos sócios e fundadores da Pipoca & Nanquim, conversa sobre as especificidades do mundo da edição de quadrinhos, mas também extrapola o gênero: fala sobre ser uma editora nativamente digital e sobre se comunicar com nichos e unificar bom conteúdo, paixão e profissionalismo, resultando em alguns dos quadrinhos mais vendidos dos últimos anos no país.</p>
        <p>Daniel conta como aprendeu a editar quadrinhos, suas experiências prévias e a fundação e consolidação da editora e do canal, passando também por questões como o lançamento dos célebres Moebius e Christophe Chabouté, gestão de catálogo e os desafios para o gênero hoje e no futuro.</p>
      </div>

      <div class="convidado">
        <div class="convidado-avatar">
          <%= image_tag 'barbara-prince.png' %>
        </div>
        <h2>Bárbara Prince</h2>
        <h3>Produtora Editorial</h3>
        <p>A produtora editorial ensina o passo a passo para fazer um livro e dá uma aula sobre cada etapa, passando por tradução, preparação de texto, revisão, contratação de colaboradores e gestão de prazos, trazendo exemplos reais de clássicos tão desafiadores quanto <em>O grande Gatsby</em> e <em>Orgulho e preconceito</em>.</p>
        <p>Coordenadora de publicações para casas como Aleph, Antofágica e TAG e professora na Universidade do Livro, a profissional também divide o que é preciso para seguir carreira na produção editorial ou prestar serviços para as casas, além de como formar o conhecimento e as habilidades necessárias para isso.</p>
      </div>

      <div class="convidado">
        <div class="convidado-avatar">
          <%= image_tag 'caetano-e-rogerio.png' %>
        </div>
        <h2>Caetano + Rogério Galindo</h2>
        <h3>Tradutores</h3>
        <p>Com traduções históricas de <em>Ulysses</em> e <em>Graça infinita</em>, no currículo de Caetano, e <em>Moby Dick</em> e <em>O grande Gatsby</em>, no de Rogerio, os irmãos Galindo colaboram regularmente com grandes casas brasileiras, como Companhia das Letras, Planeta, HarperCollins e Todavia.</p>
        <p>Com sua leveza e bom humor característicos, Rogerio e Caetano falam sobre os bastidores do difícil e fascinante trabalho de verter grandes autores para outro idioma, além de dicas práticas sobre o que estudar e como conseguir os primeiros trabalhos de tradução e consolidar um nome no mercado.</p>
      </div>

      <div class="convidado">
        <div class="convidado-avatar">
          <%= image_tag 'gi-vdl.png' %>
        </div>
        <h2>Giovana Cianelli</h2>
        <h3>Designer e Artista Visual</h3>
        <p>Com certeza um livro vende, conquista e se expande pela capa e pelo projeto gráfico. A designer e artista que já trabalhou com diversos autores e editoras, além de ter colaborado com grandes clientes como Anitta, Marina Sena, Apple e Netflix, explica os detalhes do design de um livro, da capa ao projeto gráfico de miolo.</p>
        <p>Reconhecida por projetos que contrastam um universo retrô com experimentalismos de vanguarda, Giovanna divide making-ofs de capas e projetos premiados. Além disso, dá dicas para novos designers e autores ou profissionais da área que queiram criar uma relação de confiança e bons resultados com designers.</p>
      </div>

      <div class="convidado">
        <div class="convidado-avatar">
          <%= image_tag 'aline-valli.png' %>
        </div>
        <h2>Aline Valli</h2>
        <h3>Prod. Gráfica da Todavia</h3>
        <p>Com oito anos de experiência na produção da Cosac Naify, passagem pela Ubu e desde o começo à frente da área na Todavia, Aline Valli é uma apaixonada pela produção gráfica editorial e uma das maiores especialistas no assunto.</p>
        <p>Além de contar detalhes de cases antigos, ela dá uma aula sobre formas de publicação e ensina no que se deve prestar atenção ao tomar as decisões que um livro requer, como formato, acabamentos, tecnologias de impressão e decisões de design de produto.</p>
      </div>

      <div class="convidado">
        <div class="convidado-avatar">
          <%= image_tag 'andre-castro.png' %>
        </div>
        <h2>André Castro</h2>
        <h3>Consultor Financeiro</h3>
        <p>Apesar de distante para alguns profissionais, entender a área financeira é essencial para pleitear mudanças e caminhos em qualquer empresa. O professor e consultor financeiro ensina, de forma simples e com exemplos práticos, o planejamento básico que uma editora precisa seguir para garantir saúde financeira e como analisar os lucros de um livro.</p>
        <p>Contador de formação, em quase 30 anos de experiência passou por cargos estratégicos em empresas como Ediouro e Nova Fronteira, além de ser um dos sócios da escola LabPub. Atualmente, também presta consultoria para diversas empresas do setor, como Ubu e Bazar do Tempo.</p>
      </div>

      <div class="convidado">
        <div class="convidado-avatar">
          <%= image_tag 'luciana-fracchetta.png' %>
        </div>
        <h2>Luciana Fracchetta</h2>
        <h3>Diretora de Marketing da Antofágica</h3>
        <p>Nesta aula, Luciana ensina os fundamentos do marketing de conteúdo e a importância da construção de comunidades, trazendo exemplos que extrapolam o universo dos livros a partir de empresas como Amazon e Nubank. A apresentação contempla muitos casos que deram certo – e outros que não foram tão certeiros assim.</p>
        <p>Responsável pela criação de algumas das marcas mais amadas do mercado editorial, Luciana é cofundadora da Antofágica e esteve por anos na liderança do marketing da editora Aleph, além de ter trabalhado com marcas como Todavia, GE e MTV. Por sua trajetória, foi finalista do Prêmio Profissional do Ano do portal PublishNews em 2022, o maior prêmio nacional do segmento.</p>
      </div>

      <div class="convidado">
        <div class="convidado-avatar">
          <%= image_tag 'giovani-das-gracas.png' %>
        </div>
        <h2>giovani das Graças</h2>
        <h3>Gerente comercial da Aleph</h3>
        <p>Ponto-chave para o sucesso (ou fracasso) de um título, a área comercial é extremamente complementar ao marketing e ao editorial, auxiliando a refinar estratégias para editoras e autores a partir do conhecimento profundo de uma das últimas etapas da vida do livro.</p>
        <p>Fundador da editora AJNA e com passagens por Saraiva, Livraria Cultura, Companhia das Letras, LeYa, Sextante e Aleph, Giovani aborda os meandros desta parte fundamental da cadeia: como vender o livro e fazê-lo chegar às livrarias e aos leitores. Do cadastro nos canais de venda às melhores práticas com livreiros, esta aula ensina a pensar o catálogo com foco no leitor final.</p>
      </div>

      <div class="convidado">
        <div class="convidado-avatar">
          <%= image_tag 'daniel-louzada.png' %>
        </div>
        <h2>Daniel Louzada</h2>
        <h3>Livreiro da Livraria Leonardo Da Vinci</h3>
        <p>Dono da histórica livraria carioca Leonardo da Vinci, e com mais de 17 anos em alguns dos cargos mais estratégicos na Saraiva, Daniel compartilha sua visão de negócios e sua filosofia de vida, em um debate sobre como podemos pensar a importância do livro, sua comunicação e seu comércio.</p>
        <p>Em uma conversa apaixonada, fala do novo momento de expansão de livrarias independentes, faz uma análise crítica do mercado atual e aprofunda debates sobre como pequenos empresários podem concorrer com alguns dos maiores monopólios do mundo que atuam no Brasil.</p>
      </div>

      <div class="convidado">
        <div class="convidado-avatar">
          <%= image_tag 'isabela-lubrano.png' %>
        </div>
        <h2>Isabela Lubrano</h2>
        <h3>Jornalista e Criadora de Conteúdo</h3>
        <p>Dona de um canal com quase uma década de existência e mais de 600 mil assinantes, a youtuber compartilha sua história, dos primeiros vídeos e seguidores até o momento em que passou a se dedicar integralmente ao canal Ler Antes de Morrer, incluindo o movimento de profissionalização necessário para fazer esse salto.</p>
        <p>Isabella também comenta os bastidores da produção de conteúdo e dá dicas valiosas para qualquer profissional ou autor que queira entender como os livros chegam aos leitores hoje e como é a relação dos influenciadores com marcas.</p>
      </div>


      <div class="convidado">
        <div class="convidado-avatar">
          <%= image_tag 'tiago-pavan.png' %>
        </div>
        <h2>Tiago Pavan</h2>
        <h3>Fundador da Dedalog</h3>
        <p>Fundador da DedaLog, empresa que está à frente do e-commerce, marketplace e logística para o leitor de algumas das principais editoras do país, Tiago Pavan conta como decidiu empreender no mercado editorial através da tecnologia.</p>
        <p>Nesta aula, ele explica o modelo de negócio, sua experiência na construção e o funcionamento até a venda para uma multinacional. Passando por questões essenciais para o novo momento do mercado, Tiago traz discussões que ressaltam a importância de soluções originais e de um conhecimento de tecnologia que se faz cada dia mais importante para todos os envolvidos com livros.</p>
      </div>

      <div class="convidado">
        <div class="convidado-avatar">
          <%= image_tag 'marina-avila.png' %>
        </div>
        <h2>Marina Avila</h2>
        <h3>CEO da editora Wish</h3>
        <p>A editora Wish, fundada em 2013, já teve 20 projetos de livros bem-sucedidos no Catarse, que juntos somam uma arrecadação de mais de 2 milhões de reais e dezenas de milhares de exemplares financiados e vendidos, inicialmente por meio do crowdfunding e depois nas lojas.</p>
        <p>Marina, fundadora e CEO, conta como a proposta de começar sozinha uma editora que resgatasse obras literárias antigas e aliá-las a designs inovadores deu certo e extrapolou o financiamento coletivo, criando uma das comunidades de leitores mais engajadas do mundo editorial brasileiro e uma das editoras mais amadas do país.</p>
      </div>

      <div class="convidado">
        <div class="convidado-avatar">
          <%= image_tag 'gustavo-lembert.png' %>
        </div>
        <h2>Gustavo Lembert</h2>
        <h3>CEO da TAG Livros</h3>
        <p>O cofundador e CEO da TAG, maior clube de assinatura de livros do Brasil, fala sobre o formato de recorrência e assinatura no país, desde os bastidores da fundação da empresa até o momento atual de maior popularização do modelo.</p>
        <p>Além de inspirar raciocínios valiosos na hora de buscar novas oportunidades de negócio, Gustavo compartilha casos reais de sua trajetória e teoriza sobre como o clube construiu uma comunidade e um público de leitores, estimulando a criação de novos produtos e novas formas de trabalhar com um mercado tão tradicional quanto o do livro.</p>
      </div>

      <div class="convidado">
        <div class="convidado-avatar">
          <%= image_tag 'joana-de-conti.png' %>
        </div>
        <h2>Joana de Conti</h2>
        <h3>Gerente de Contas da BookWire</h3>
        <p>Uma das maiores referências em livros digitais do país e gerente de contas da distribuidora multinacional Bookwire, Joana aborda a história dos livros digitais, em qual momento desse mercado estamos e quais são os horizontes de evolução do formato.</p>
        <p>Autopublicação e oportunidades para novos autores e editoras, distribuição digital, impressão sob demanda e futuro da leitura são alguns dos temas abordados.</p>
      </div>

      <div class="convidado">
        <div class="convidado-avatar">
          <%= image_tag 'mari-nunes.png' %>
        </div>
        <h2>Mari Nunes</h2>
        <h3>Produtora Audiovisual</h3>
        <p>O aquecimento do mercado de séries e filmes é acompanhado de perto pelo mundo dos livros. Com a chegada dos streamings no Brasil, a contratação de livros para serem adaptados tem sido mais recorrente e profícua.</p>
        <p>Esta aula aborda esse encontro fascinante. Reconhecida executiva de desenvolvimento e negócios do audiovisual, Mari já trabalhou com Netflix, Amazon, HBO, Globo e Disney, e divide o que leva uma produtora a buscar livros e autores. Também detalha quais são os passos dados para uma obra audiovisual sair do papel e chegar às telas.</p>
      </div>

      <div class="convidado">
        <div class="convidado-avatar">
          <%= image_tag 'claudia-esteves.png' %>
        </div>
        <h2>Luciana </h2>
        <h3>Diretora </h3>
        <p>À frente da área de aquisição de conteúdo da Audible, braço da Amazon e líder no mercado global de audiolivros, Claudia explica como funciona esse formato que só cresce nos últimos anos, da relação com agentes, autores e editoras até o desenvolvimento de produtos originais em áudio.</p>
        <p>Com experiência em agências e editoras inglesas, Claudia também passa pelo debate sobre o futuro da mídia livro, fala sobre o fenômeno dos podcasts e dos assistentes de voz e divide informações estratégicas para quem pretende explorar as oportunidades instigantes de criação para o formato.</p>
      </div>

      <div class="convidado">
        <div class="convidado-avatar">
          <%= image_tag 'jiro-vdl.png' %>
        </div>
        <h2>Convidada Surpresa</h2>
        <p>
        Com mais de 50 anos de experiência no mercado editorial, Jiro Takahashi acumula passagens por casas brasileiras como Ática, Nova Fronteira, Estação Liberdade (da qual foi co-fundador), Ediouro, Rocco e Nova Aguilar. Foi idealizador, entre outras, da série Vaga-Lume, amplamente adotada em escolas brasileiras e parte da formação leitora de milhões de estudantes.
        </p>

      </div>

      <div class="convidado">
        <div class="convidado-avatar">
          <%= image_tag 'convidada-surpresa.png' %>
        </div>
        <h2>Convidado Surpresa</h2>
        <p></p>
      </div>

    </div>

  </section>

  <section class="main-para-quem">
    <div class='main-para-quem-title'>
      <%= image_tag 'para-quem-e-o-curso.png' %>
    </div>
    <div class='main-para-quem-title-responsivo'>
      <%= image_tag 'pra-quem-e-o-curso-responsivo.png' %>
    </div>


    <div class="main-para-quem-content">
      <%= image_tag 'para-quem-stickers-1.png', class:'para-quem-img' %>
        <div>
          <p class="main-para-quem-highlight">Vida do Livro é o curso que você busca caso queira conhecer os segredos por trás do mercado do livro. Seja você leitor, autor, curioso, profissional ou alguém com interesse de negócios na área, Vida do Livro cobre todas as frentes, desde a concepção de um título até ele estar no mercado e além!</p>

          <p>O que o curso não é: </p>
          <p>Vida do Livro <u>não é um curso técnico</u>, então falaremos de tudo, mas não teremos aprofundamento prático sobre como escrever, traduzir, diagramar, coordenar um livro etc. </p>
          <p>Também <u>não falaremos sobre livros didáticos</u>, que têm lógicas próprias e diferentes.</p>
          <p>O intuito do curso é apresentar o cenário completo para você entender quais são suas possibilidades de atuação e se aprofundar sabendo do todo! Se tiver qualquer dúvida sobre o conteúdo, por favor, entre em contato conosco &lt3</p>
        </div>
      <%= image_tag 'para-quem-stickers-2.png', class:'para-quem-img' %>
      <%= image_tag 'para-quem-sticker.png', class:'para-quem-img-responsivo' %>

    </div>
  </section>

  <section class="main-sobre">
    <div class="main-sobre-title">
      <%= image_tag 'professor-e-organizador-responsivo.png', class:'main-sobre-dani-responsivo' %>
      <%= image_tag 'professor-e-organizador.png', class:'title' %>
    </div>

    <div class="main-sobre-dani">
      <%= image_tag 'daniel-lameira.png' %>
      <p><strong>Daniel Lameira</strong> é editor, diretor criativo e consultor para o mercado editorial. É um dos fundadores da Antofágica e esteve durante sete anos à frente da direção editorial da Aleph, além de ter passado por casas como Intrínseca, Novo Século e LeYa, FNAC e Livraria da Vila. Vencedor do prêmio <em>Rising Star </em>(2015), que teve apoio da Feira do Livro de Frankfurt em parceria com SNEL e PublishNews, figura no livro <em>100 nomes da edição no Brasil</em> como um dos Editores do Futuro. Em 2015, criou o curso Vida do Livro, que desde então já formou mais de 1.000 alunos.</p>
    </div>
  </section>

  <%# <section class="main-inscricao">
    <%= image_tag 'inscricao.png' %>
  <%# </section> %>

  <section class="main-faq">
    <div class="main-faq-title">
      <%= image_tag 'duvidas-comuns.png'%>
    </div>


    <div class="duvidas">
      <div class="duvida">
        <div>
          <%= image_tag 'main-faq-star.png' %>
          <h2>O curso é online?</h2>
        </div>
        <p>Sim, esta edição da Vida do Livro será 100% online! Você poderá acompanhar as aulas de qualquer lugar e participar do grupo de alunos.</p>
      </div>

      <div class="duvida">
        <div>
          <%= image_tag 'main-faq-star.png' %>
          <h2>Nunca trabalhei no mercado editorial. Vou ficar perdido?</h2>
        </div>
        <p>Não! O curso possui linguagem acessível a qualquer pessoa, tenha experiência ou familiaridade com o mercado editorial ou não. Além disso, as aulas contarão com material de apoio explicando os principais termos e conceitos abordados. Boa parte dos alunos também são leitores apaixonados, curiosos por saber mais.</p>
      </div>

      <div class="duvida">
        <div>
          <%= image_tag 'main-faq-star.png' %>
          <h2>Quero me especializar em uma etapa específica da cadeia do livro. Preciso fazer um curso tão amplo?</h2>
        </div>
        <p>Ter a visão do processo como um todo faz muita diferença mesmo para profissionais especializados. Dessa forma, você não apenas conhecerá os caminhos que o mercado oferece, mas também vai se relacionar melhor com outras áreas e ter mais ferramentas e argumentos para executar sua especialidade, para fechar novos negócios ou para desenvolver sua carreira.</p>
      </div>

      <div class="duvida">
        <div>
          <%= image_tag 'main-faq-star.png' %>
          <h2>Sou um autor independente. O curso vai me ajudar?</h2>
        </div>
        <p>Sim e não. Esse curso não é um curso sobre escrita, roteiro e estrutura narrativa. Mas entender o funcionamento do mercado é essencial para conhecer as possibilidades de publicação, saber como abordar editoras e planejar a carreira na área, entre outros aspectos trabalhados no curso.</p>
      </div>

      <div class="duvida">
        <div>
          <%= image_tag 'main-faq-star.png' %>
          <h2>Já trabalho no mercado editorial e tenho o conhecimento básico. Vou tirar algo novo do curso?</h2>
        </div>
        <p>Olha, eu acredito que sim! Além de ter contato com outras visões, de pessoas com experiências diferentes da sua, você também vai ouvir algumas das vozes mais renomadas do mercado opinando e explicando o que as motiva a fazer o que fazem.</p>
      </div>

      <div class="duvida">
        <div>
          <%= image_tag 'main-faq-star.png' %>
          <h2>Já fiz outra edição online do curso Vida do Livro. Vale a pena fazer novamente?</h2>
        </div>
        <p>Sim! Esta nova edição da Vida do Livro conta com 24 aulas inéditas, gravadas com profissionais reconhecidos no mercado editorial, além de possibilitar novas trocas com o professor e com os demais participantes. Entre em contato conosco para receber um cupom de desconto especial para ex-alunos.</p>
      </div>

      <div class="duvida">
        <div>
          <%= image_tag 'main-faq-star.png' %>
          <h2>Não conseguirei acompanhar as aulas ao vivo. Elas vão ficar gravadas?</h2>
        </div>
        <p>Sim, e você poderá acessá-las quando e onde quiser durante 3 meses após o fim do curso.</p>
      </div>

      <div class="duvida">
        <div>
          <%= image_tag 'main-faq-star.png' %>
          <h2>Por quanto tempo poderei acessar o material do curso?</h2>
        </div>
        <p>Você terá acesso à gravação das aulas ao vivo e das 24 aulas com profissionais da área por 3 meses após o fim do curso.</p>
      </div>

      <div class="duvida">
        <div>
          <%= image_tag 'main-faq-star.png' %>
          <h2>Haverá grupo de conversa e discussão entre alunos?</h2>
        </div>
        <p>Sim, teremos um grupo no WhatsApp especial para os inscritos. Adicionaremos você a partir do celular informado no momento da inscrição.</p>
      </div>

      <div class="duvida">
        <div>
          <%= image_tag 'main-faq-star.png' %>
          <h2>O curso emite certificado?</h2>
        </div>
        <p>Sim. O certificado será emitido com o nome informado por você ao inscrever-se no curso.</p>
      </div>

      <div class="duvida">
        <div>
          <%= image_tag 'main-faq-star.png' %>
          <h2>Quando haverá outras turmas?</h2>
        </div>
        <p>Espero conseguir organizar o curso e a minha vida para ele acontecer uma vez por ano, mas não consigo garantir. $lt3</p>
      </div>
    </div>
  </section>


  <section class="main-faca-parte">
    <a href="#form">
      <div>
        <%= image_tag 'faca-parte.png' %>
      </div>
    </a>
  </section>

  <section class="main-footer">
    <div class="main-footer-telegram">
      <p>
      Entre agora no grupo aberto <strong>Vida do Livro </strong>no Telegram para receber conteúdos exclusivos e conversar com outros membros:
      </p>

      <a href="https://t.me/vidadolivro" target="blank">
        <%= image_tag 'grupo-vdl.png' %>
      </a>

    </div>

    <div class="footer-logos">
      <p>© Vida do Livro</p>
      <%= image_tag 'logo-sonhorama.png' %>
    </div>
  </section>
</div>
