<!DOCTYPE html>
<html>
  <head>
    <title>VidaDoLivro2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <% unless action_name == 'new' || action_name == 'create' %>
    <%= render "shared/navbar2" %>
  <% end %>

  <%= render "shared/flashes" %>

  <%= yield %>

  <script>
    setTimeout(function() {
      var notice = document.querySelector('.alert-info');
      if (notice) {
        notice.style.display = 'none';
      }
    }, 5000); // hide the notice after 5 seconds (5000 milliseconds)
  </script>

  </body>
</html>
