<!DOCTYPE html>
<html>
  <head>
    <title>Vida do Livro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag "favicon.ico", rel: "icon", type: "image/ico" %>
    <%= display_meta_tags site: "Vida do Livro" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <!-- Meta Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '636200988259257');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=636200988259257&ev=PageView&noscript=1"
    /></noscript>
<!-- End Meta Pixel Code -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
  </head>

  <body>
  <% unless action_name == 'new' || action_name == 'create'|| action_name == 'main' %>
    <%= render "shared/navbar2" %>
  <% end %>

  <%= render "shared/flashes" %>

  <%= yield %>

  <script>
    setTimeout(function() {
      var notice = document.querySelector('.alert-info');
      if (notice) {
        notice.style.display = 'none';
      }
    }, 5000); // hide the notice after 5 seconds (5000 milliseconds)
  </script>


  </body>
</html>
